div {
    display: flex;
    flex-direction: column;
    width: 1100px;
}

.complains-container {
    display: flex;
    flex-direction: row;
    align-content: center;
}
#other {
    height: 22px;
    width: 900px;
}

label[for='other'] {
    display: flex;
}

main {
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
}

input {
    font-size: 19px;
}

select {
    font-size: 19px;
}

textarea {
    font-size: 19px;
}

#patient-name {
    width: 600px;
}

#diagnoz-conteiner {
    display: flex;
    flex-direction: column;
}
.posle-operacii {
    display: block;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 1.2em;
    margin: 0 0 0 0;
}

#per-obl-add {
    width: 1100px;
}

#diagnoz {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-weight: 600;
}

#diagnoz2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-weight: 600;
}

p {
    margin: 0.5em 0 0.5em 0;
}

#sostojanie {
    display: flex;
    flex-direction: row;
}

textarea {
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
}

select {
    font-family: 'Times New Roman', Times, serif;
}

input {
    font-family: 'Times New Roman', Times, serif;
}

#obrazovania-container {
    display: flex;
}

input[type='text'] {
    width: 90px;
}

img {
    height: 100px;
    margin-left: 0;
}

#podpis {
    padding-bottom: 2em;
}

p, b, div, select, textarea {
    font-size: 22px;
    padding: 0;
}

#before-print {
    background-color: #9de0f7;
    height: 40px;
    width: 800px;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

#cancel {
    background-color: red;
    height: 40px;
    width: 800px;
    font-size: 1.5em;
}

#logo {
    display: none;
}
 
@media print {
    img {
        margin-top: 10px;
    }

    button {
        display: none;
    }

    #logo {
        display: block;
    }
}
