* {
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    width: 1000px;
}

h1 {
    font-size: 2em;
    margin: 10px;
}

h2 {
    font-size: 1.5em;
    margin: 10px;
}

input[type='date'] {
    font-size: 20px;
}

span input[type='number'] {
    width: 45px;
}

input[name='slizistaja'] {
    width: 25px;
}

#perianalnaja_oblast_dop {
    height: 2em;
    width: 690px;
    resize: both;
}

.obrazovania {
    display: flex;
    flex-direction: column;
    align-items: baseline;

}

#dopobrazovanija {
    width: 550px;
    resize: both;
    height: 40px;
}

#zakluchenie {
    display: flex;
    flex-direction: column;
}

#zakluchenie__input {
    width: 690px;
    font-weight: 800;
    resize: none;
}

#slizistaja__dop {
    height: 2em;
    width: 690px;
    resize: both;
}

footer {
    display: flex;
    flex-direction: column;
}

button {
    height: 40px;
    width: 800px;
}

@media print {
    input,
    select,
    option,
    input[type='date'],
    textarea {
        appearance: none;
        border: none transparent;
        background-color: #ffffff;
        resize: none;
    }

    input[type='date'] {
        appearance: none;
    }

    #glubina__value {
        width: 25px;
        appearance: textfield;
        border: none transparent;
        background-color: #ffffff;
    }

    textarea {
        overflow: hidden;
    }

    button {
        display: none;
    }
}
