* {
    font-size: 19px;
    font-family:'Times New Roman', Times, serif;
}

body {
    width: 1000px;
}

h1 {
    font-size: 2em;
    margin: 10px
}

h2 {
    font-size: 1.5em;
    margin: 10px
}

input[type="date"] {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

span input[type='text'] {
    width: 25px;
}

#perianalnaja_oblast_dop {
    height: 2em;
    width: 690px;
}

.obrazovania {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#dopobrazovanija {
    width: 550px;
    height: 1.5em;
}

#zakluchenie__input {
    width: 690px;
    font-weight: 800;
}

#slizistaja__dop {
    height: 2em;
    width: 690px;
}

footer {
    display: flex;
    flex-direction: column;
}

@media print {
    input, select, option, input[type="date"]{
        appearance: none;
        border: none transparent;
        background-color: #ffffff;
    }

    input[type="range"] {
        display: none;
    }

    button {
        display: none;
    }
}